* {
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #DDE6ED;
}

header {
    padding: 20px 0px 32px;
}

main {
    display: flex;
    flex-direction: column;
    background-color: #23314D;
    padding: 24px 16px 40px;
    gap: 56px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 0px;
}

footer p {
    font-family: "Unbounded";
    font-size: 8px;
    font-weight: 200;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav input {
    font-family: "Unbounded";
    font-size: 12px;
    font-weight: 200;
    height: 32px;
    width: 188px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: none;
    background-color: white;
    padding: 0px 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

nav input::placeholder {
    opacity: 0.5;
}

nav button {
    position: absolute;
    height: 32px;
    width: 44px;
    background-color: #61D5FF;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    padding: auto;
    right: 80px;
}

nav img {
    height: 16px;
    width: auto;
}

article {
    display: flex;
    flex-direction: column;
    padding: 0px 16px;
    gap: 44px;
}

article h1 {
    font-family: "Unbounded";
    font-size: 25px;
    font-weight: 900;
    color: #DDE6ED;
}

article h2 {
    font-family: "Unbounded";
    font-size: 10px;
    font-weight: 400;
    color: #DDE6ED;
}

.titlesBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.temperature-Box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.temperature-Box h2:first-of-type {
    font-size: 30px;
    font-weight: 900;
}

.Tendays {
    display: flex;
    flex-direction: column;
    background-color: rgba(58, 77, 114, 70%);
    opacity: 0.8;
    border-radius: 20px;
    padding: 20px 24px;
    gap: 12px;
}

.Tendays h2 {
    font-family: "Unbounded";
    font-size: 10px;
    font-weight: 200;
    color: #DDE6ED;
}

.Tendays h3 {
    font-family: "Unbounded";
    font-size: 8px;
    font-weight: 200;
    color: #DDE6ED;
}

.daysList {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.daysDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dayIco {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.dayIco h2 {
    width: 52px;
}

.minMaxT {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.minMaxT h3 {
    font-size: 12px;
    font-weight: 900;
}

.min {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}

.max {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}

.max h3 {
    color: #E3D859;
}

.detail-info {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(58, 77, 114, 70%);
    opacity: 0.8;
    border-radius: 20px;
    padding: 20px 24px;
    gap: 44px 20px;
}

.detail-info img {
    opacity: 0.6;
}

.detail-info img:nth-child(1) {
    position: absolute;
    width: 172px;
    top: 12px;
    left: -60px;
    transform: rotate(16deg);
}

.detail-info img:nth-child(2) {
    position: absolute;
    width: 172px;
    bottom: -40px;
    left: -100px;
    transform: rotate(-8deg);
}

.detail-info img:nth-child(3) {
    position: absolute;
    top: -56px;
    right: -16px;
    opacity: 1;
}

.detail-info img:nth-child(4) {
    position: absolute;
    bottom: -4px;
    right: -16px;
    opacity: 1;
}

.info-box {
    display: flex;
    flex-direction: column;
    gap: 36px;
    z-index: 1001;
    background-color: #23314D;
    border-radius: 20px;
    padding: 12px 12px 24px;
    width: 124px;
}

.info-box h2 {
    font-family: "Unbounded";
    font-size: 12px;
    font-weight: 700;
    color: rgba(221, 230, 237, 60%);
}

.info-box h3 {
    font-family: "Unbounded";
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.map {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: rgba(58, 77, 114, 70%);
    opacity: 0.8;
    border-radius: 20px;
    padding: 20px 24px;
}

.map h2 {
    font-family: "Unbounded";
    font-size: 12px;
    font-weight: 200;
    color: white;
}

.map-box {
    background-color: #23314D;
    border-radius: 20px;
    padding: 12px 12px 24px;
}